
@{
    ViewBag.Title = "LoginHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>User List</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>UserName</td>
                        <td>Designation</td>
                        <td>Department</td>
                        <td>IpAddress</td>
                        <td>Login Trails</td>
                    </tr>
                </thead>
                <tbody>
                    @if(ViewBag.UserList!=null)
                    {
                        foreach(var item in ViewBag.UserList)
                        {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Designation</td>
                        <td>@item.DepartmentName</td>
                        <td>@item.IPAddress</td>
                        <td><a href="@Url.Action("LoginTrails","Account",new { UserID=ACQ.Web.ExternalServices.SecurityAudit.Encryption.Encrypt(item.UserId.ToString())})"><button class="btn btn-primary btn-sm">View</button></a></td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

