@model ACQ.Web.App.ViewModel.ContractPaymentSum

<link href="~/assets/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script src="~/assets/datatable/js/jquery.dataTables.min.js" nonce="r@nd0m"></script>
<script src="~/assets/datatable/js/jszip.min.js" nonce="r@nd0m"></script>
<script src="~/assets/datatable/js/vfs_fonts.js" nonce="r@nd0m"></script>
<div class="containers">
    <div class="container-fluids">
        <div class="card">
            <div class="card-header">

                @if (ViewBag.Service != null)
                {
                    <h4 style="text-align:center">Service Name : @ViewBag.Service  </h4>
                }
            </div>
            <div class="card-body">

                <div class="table-responsive">


                    <table id="example" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Financial Year</th>
                                <th>Projected Payment</th>
                                <th>Actual Payment Made</th>
                                <th>Balance Payment</th>

                            </tr>
                        </thead>
                        <tbody id="mainbody">
                            @if (Model != null && Model.FinancialYear.Count() > 0)
                            {
                                foreach (var item in Model.FinancialYear)
                                {
                            <tr>
                                <td><a href="/GetContractBaseOnFinancialYear?Service=@item.EncryptService&FinancialYear=@item.EncryptFinancialYear"> @item.FinancialYear</a></td>
                                <td>@item.ProjectPayment</td>
                                <td>@item.ActualPayment</td>
                                <td>@item.BalacePayment</td>
                            </tr>
                                }
                            }

                            </tbody>
                        <tfoot>
                            <tr>
                                <td>Total</td>
                                <td>@Model.AllSum.ProjectPayment</td>
                                <td>@Model.AllSum.ActualPayment</td>
                                <td>@Model.AllSum.BalacePayment</td>
                            </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function ($) {
        $('#example').DataTable({
            dom: 'Bfrtip',
            //buttons: [
            //    {
            //        extend: 'excel',
            //        text: 'Download',
            //        exportOptions: {
            //            columns: [5, 7]
            //        }
            //    },
            //    {
            //        extend: 'print',
            //        text: 'Print',
            //        autoPrint: true,
            //        exportOptions: {
            //            modifier: {
            //                page: 'current'
            //            }
            //        }
            //    }
            //],
            pageLength: 50
        });
    });
</script>