@model List<ACQ.Web.ViewModel.AONW.MeetingParticipants>

<div class="row">
    @foreach (var groupItem in Model.GroupBy(g => g.member_type).ToList())
    {
        <div class="col-md-4">
            <div class="form-group">
                <label class="font-weight-bold"> @groupItem.FirstOrDefault().member_type</label>
                <div class="clearfix"></div>
                @foreach (var item in groupItem.ToList())
                {
                    <div class="row">
                        <div class="col-md-12">

                            <input type="checkbox" checked id="cbx_@item.UserID" name="officers_participated_list" value="@item.UserID" @if (item.IsSelected) { @Html.Raw("checked"); } />
                            <label for="cbx_@item.UserID"><span>@item.designation</span>&nbsp; <span>@item.UserName</span></label>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

