@{
    ViewBag.Title = "Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
<link href="~/assets/css/toastr.css" rel="stylesheet" />
<style>
    .ui-datepicker {
        width: 18.8em !important;
    }

    .btn-area {
        position: absolute;
        bottom: 18px;
    }

    .btn-delete {
        position: absolute;
        bottom: 18px;
        LEFT: 14%;
    }

    .col-form-label {
        justify-content: start;
        display: flex;
    }

        .col-form-label span {
            margin-left: 5px;
        }
</style>
<div class="mt-3 container-fluid">
    
    <div class="_sb">
        @using (Html.BeginForm("SaveContractMasterExcel", "Contract", FormMethod.Post, new { id = "UploadExcel", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="card flex-fill w-100 p-3">
                <div class="card-header"><h5>Upload Contract Details</h5></div>
                <div class="form-group row">
                    <span style="color:red"> @Html.ValidationSummary()</span>
                    @if (ViewBag.File != null)
                    {
                        <span style="color:red">@ViewBag.File</span>
                    }
                    @if (ViewBag.FieldName != null)
                    {
                        <span style="color:red">@ViewBag.FieldName</span>
                    }
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class="col-form-label">Upload Contract Details</label>
                        <div class="form-group m-0">
                            <input type="file" name="file" id="file" />
                            @*@Html.ValidationMessage("file", "Please Upload Only name", "text-danger")*@
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">

                        <input type="submit" id="uploadmaster" style="position:absolute;bottom:0;" class="btn btn-success" value="Upload" />


                    </div>
                </div>
            </div>
        }

    </div>

    <h6 class="text-center"><p>Or</p></h6>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()



        <div class="_sb">

            <div class="card flex-fill w-100 p-3">
                <div class="card-header">
                    <h5>Enter Contract Details</h5>
                </div>
                <div class="form-group row">


                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class="col-form-label">Services<span style="color:red;">*</span> <span id="vldServices" style="color:red;display:none">Please enter Services</span></label>
                        <div class="form-group m-0">
                            <select class="form-select form-control Services" name="Services" id="Services">
                                <option value="Army">Army</option>
                                <option value="Navy">Navy</option>
                                <option value="AirForce">AirForce</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class="col-form-label">Contract Id <span style="color:red;">*</span> <span id="vldContractId" style="color:red;display:none">Please enter Contract Id</span></label>
                        <div class="form-group m-0">
                            <input type="text" name="ContractId" id="ContractId" placeholder="Contract Id" class="form-control" autocomplete="off" />

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class="col-form-label">Contract Number<span style="color:red;">*</span><span id="vldContract_Number" style="color:red;display:none">Please enter Contract Number</span></label>
                        <div class="form-group m-0">
                            <input type="text" name="Contract_Number" id="Contract_Number" placeholder="Contract Number" class="form-control" autocomplete="off" />

                        </div>
                    </div>
                </div>


                <div class="form-group row">

                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <label for=" " class="col-form-label">Description<span style="color:red;">*</span><span id="vldDescriptions" style="color:red;display:none">Please enter Description</span></label>
                        <div class="form-group m-0">

                            <textarea rows="3" name="Descriptions" id="Descriptions" placeholder="Description" class="form-control"> </textarea>

                        </div>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class="col-form-label">Category<span style="color:red;">*</span><span id="vldCategory" style="color:red;display:none">Please enter Category</span></label>
                        <div class="form-group m-0">
                            <input type="text" name="Category" id="Category" placeholder="Category" class="form-control" autocomplete="off" />

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <div class="form-group m-0">
                            <label for=" " class="col-form-label">Date Of Contract Signing <span style="color:red;">*</span><span id="vldDateOfContractSigning" style="color:red;display:none">Please enter Date Of Contract Signing</span></label>
                            <input type="text" name="DateOfContractSigning" id="DateOfContractSigning" placeholder="Date Of Contract Signing" class="datepicker form-control" autocomplete="off" />

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class="col-form-label">Effective Date/TO Date</label>
                        <div class="form-group m-0">
                            <input type="text" name="EffectiveDate" id="EffectiveDate" placeholder="Effective Date/TO Date" class="form-control datepicker" autocomplete="off" />

                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class="col-form-label">ABG Date/LC Opening Date</label>
                        <div class="form-group m-0">
                            <input type="text" name="ABGDate" id="ABGDate" placeholder="ABG Date/LC Opening Date" class="form-control datepicker" autocomplete="off"/>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class="col-form-label">PWBG %</label>
                        <div class="form-group m-0">
                            <input type="text" name="PWBG" id="PWBGPercentage" placeholder="PWBG %" class="form-control AllowNumber" autocomplete="off"/>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class=" col-form-label">PWBG Date</label>
                        <div class="form-group m-0">
                            <input type="text" name="PWBGDate" id="PWBGDate" placeholder="PWBG Date" class="form-control datepicker" autocomplete="off" />

                        </div>
                    </div>

                </div>


                <div class="form-group row">


                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class="col-form-label">Incoterms</label>
                        <div class="form-group m-0">
                            <input type="text" name="Incoterms" id="Incoterms" placeholder="Incoterms " class="form-control" autocomplete="off"/>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class=" col-form-label">Warranty</label>
                        <div class="form-group m-0">
                            <input type="text" name="Warranty" id="Warranty" placeholder="Warranty " class="form-control" />

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label for=" " class=" col-form-label">Contract Value<span style="color:red;">*</span><span id="vldContractValue" style="color:red;display:none">Please enter ContractValue</span></label>
                        <div class="form-group m-0">
                            <input type="text" name="ContractValue" id="ContractValue" placeholder="Contract Value " class="form-control AllowDecimal" autocomplete="off" />

                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <label class="col-form-label">FE Content</label>
                        <div class="form-group m-0">
                            <textarea rows="1" name="FEContent" id="FEContent" placeholder="FE Content" class="form-control" ></textarea>

                        </div>
                    </div>
                </div>
                <div class="form-group row">


                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label class="col-form-label">Taxes and Duties</label>
                        <div class="form-group m-0">
                            <input type="text" name="TaxesAndDuties" id="TaxesAndDuties" placeholder="Taxes and Duties" class="form-control" autocomplete="off" />

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label class="col-form-label">Final Delivery Date<span style="color:red;">*</span><span id="vldFinalDeliveryDate" style="color:red;display:none">Please enter Final Delivery Date</span></label>
                        <div class="form-group m-0">
                            <input type="text" name="FinalDeliveryDate" id="FinalDeliveryDate" placeholder="Final Delivery Date" class="form-control datepicker" autocomplete="off" />

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <label class="col-form-label">Grace Period</label>
                        <div class="form-group m-0">
                            <input type="text" name="GracePeriod" id="GracePeriod" placeholder="Grace Period" class="form-control" autocomplete="off"/>

                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="_sbd">
            <div class="">

            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Enter Stage/Milestone Details</h3>
                </div>
                <div class="card-body">
                    <div class="table-body">
                        <div class="Stage">
                            <div class="row">
                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label class="col-form-label">Stage Number <span style="color:red;">*</span></label>
                                        <input type="text" name="StageNumber" placeholder="Stage Number" class="form-control StageNumber AllowNumber" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label>Stage Description</label>
                                        <input type="text" name="stageDescription" placeholder="Stage Description" class="form-control StageDescription" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label>Stage Start Date</label>
                                        <input type="text" name="StageStartdate" placeholder="Stage Start Date" class="form-control StageStartDate datepicker" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label>Stage Completion Date</label>
                                        <input type="text" name="StageCompletionDate" placeholder="Stage Completion Date" class="form-control StageCompletionDate datepicker" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">

                                    <div class="form-group ">
                                        <label class="col-form-label">% Of Contract Value<span style="color:red;">*</span></label>
                                        <input type="text" name="PercentOfContractValue" placeholder="% Of Contract Value" class="form-control PercentOfContractValue AllowNumber" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label class="col-form-label">Amount<span style="color:red;">*</span></label>
                                        <input type="text" name="Amount" placeholder="Amount" class="form-control Amount AllowDecimal" autocomplete="off"/>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label class="col-form-label">Due Date Of Payment<span style="color:red;">*</span></label>
                                        <input type="text" name="DueDateOfPayment" placeholder="Due Date Of Payment" class="form-control DueDateOfPayment datepicker" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label>Conditions</label>
                                        <input type="text" name="Conditions" placeholder="Conditions" class="form-control Conditions" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label>Revised Date Of Payment</label>
                                        <input type="text" name="RevisedDateOfpayment" placeholder="Revised Date Of Payment" class="form-control RevisedDateOfPayment datepicker" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label>Reason For Slippage</label>
                                        <input type="text" name="ReasonsForSlippage" placeholder="Reason For Slippage" class="form-control ReasonForSlippage" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label class="col-form-label">Actual Date Of Payment<span style="color:red;">*</span></label>
                                        <input type="text" name="ActualDateOfPayment" placeholder="Actual Date Of Payment" class="form-control ActualDateOfPayment datepicker" autocomplete="off"/>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label class="col-form-label">Total Payment Made<span style="color:red;">*</span></label>
                                        <input type="text" name="TotalPaymentMade" placeholder="Total Payment Made (Numeric || ex 2000.40)" class="form-control TotalPaymentMade AllowDecimal" autocomplete="off"/>
                                        @*<select name="TotalPaymentMade" class="form-select form-control TotalPaymentMade">
                                                <option value="Basic Stage Payment">Basic Stage Payment</option>
                                                <option value="Taxes">Taxes</option>
                                                <option value="Customs Duty">Customs Duty</option>
                                                <option value="ERV Payment">ERV Payment</option>
                                            </select>*@

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label class="col-form-label">Expenditure Made Till 31th  March@*<span style="color:red;">*</span>*@</label>
                                        <input type="text" name="ExpendMadeTill31March" placeholder="Expenditure Made Till 31th  March" class="form-control ExpendMadeTill31March AllowDecimal" autocomplete="off"/>

                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label class="col-form-label">Full or Part Payment Made<span style="color:red;">*</span></label>
                                        <select class="form-select form-control FullorPartPaymentMade" name="FullorPartPaymentMade">
                                            <option value="Full">Full</option>
                                            <option value="Part">Part</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-4">

                                    <button class="btn btn-success btn-sm AddNewStage btn-area" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>               @*<button id="DeleteStage" class="btn btn-danger DeleteStage"><i class="fa fa-trash" aria-hidden="true"></i></button>*@

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <button type="button" id="btnSaveDetails" class="btn btn-sm btn-success" value="Save Details" style="float:right;">Save Details</button>

        </div>


    }

    <h6 class="text-center"><p>Or</p></h6>
    <div class="_sb">
        @using (Html.BeginForm("SaveStageExcel", "Contract", FormMethod.Post, new { id = "UploadExcel2", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

        <div class="card flex-fill w-100 p-3">
            <div class="card-header">
                <h5>Upload Stages</h5>
            </div>
            <div class="form-group row">
                @if (ViewBag.FileStage != null)
                {
                    <span style="color:red"> @ViewBag.FileStage</span>
                }
                @if (ViewBag.ExcelColoumn != null)
                {
                    <span style="color:red"> @ViewBag.ExcelColoumn</span>
                }
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <label for=" " class="col-form-label">Upload Stages</label>
                    <div class="form-group m-0">
                        <input type="file" name="file" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4">

                    <input type="submit" id="UploadStage" style="position:absolute;bottom:0;" class="btn btn-success" value="Upload" />


                </div>
            </div>
        </div>
        }

    </div>

</div>


<script src="~/assets/js/jquery-3.6.0.min.js" nonce="r@nd0m"></script>
<script src="~/assets/js/jquery-ui.js" nonce="r@nd0m"></script>
<script src="~/assets/js/toastr.js" nonce="r@nd0m"></script>
<script nonce="r@nd0m">
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "10000",
            "hideDuration": "10000",
            "timeOut": "10000",
            "extendedTimeOut": "10000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        if ('@ViewBag.Uploadsuccess' != null && '@ViewBag.Uploadsuccess' != "") {
            if ('@ViewBag.Uploadsuccess' == "True") {
                toastr.success("Data has been uploaded successfully..");
            }
            else {
                toastr.error("Something went wrong while uploading data from excel file.");
            }
        }

        $('#UploadExcel').submit(function () {
            $('.preloader').show();
        });

        $('#UploadExcel2').submit(function () {
            $('.preloader').show();
        });


        $('body').on('focus', ".datepicker", function () {
            $(this).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"
            });
        });

        $(document).on("change", ".TotalPaymentMade", function () {
            var actual = $(this).closest('.Stage').children().find('.Amount').val();
            var current = $(this).val();
            if (actual != "" && current != "") {
                if (parseFloat(current) < parseFloat(actual)) {
                    $(this).closest('.Stage').children().find('.FullorPartPaymentMade option').filter(function () {
                        return ($(this).text() == 'Part');
                    }).prop('selected', true);
                }
                else {
                    $(this).closest('.Stage').children().find('.FullorPartPaymentMade option').filter(function () {
                        return ($(this).text() == 'Full');
                    }).prop('selected', true);
                }
            }
            else {
                toastr.error("Enter Total payment Made");
            }

        });

        $(document).on("click", '.AddNewStage', function () {

            $('.table-body').append(' <div class="Stage"><hr/><div class="row"><div class="col-sm-4"><div class="form-group ">                                 <label class="col-form-label">Stage Number <span style="color:red;">*</span></label>                                 <input type="text" name="StageNumber" placeholder="Stage Number" class="form-control StageNumber AllowNumber" autocomplete="off"/>                             </div>                         </div>                         <div class="col-sm-4">                             <div class="form-group ">                                 <label>Stage Description</label>                                 <input type="text" name="stageDescription" placeholder="Stage Description" class="form-control StageDescription" autocomplete="off"/>                             </div>                         </div>                         <div class="col-sm-4">                             <div class="form-group ">                                 <label>Stage Start Date</label>                                 <input type="text" name="StageStartdate" placeholder="Stage Start Date" class="form-control StageStartDate datepicker" autocomplete="off"/>                             </div>                         </div>                         <div class="col-sm-4">                             <div class="form-group ">                                 <label>Stage Completion Date</label>                                 <input type="text" name="StageCompletionDate" placeholder="Stage Completion Date" class="form-control StageCompletionDate datepicker" autocomplete="off"/>                             </div>                         </div>                         <div class="col-sm-4">                              <div class="form-group ">                                 <label class="col-form-label">% Of Contract Value<span style="color:red;">*</span></label>                                 <input type="text" name="PercentOfContractValue" placeholder="% Of Contract Value" class="form-control PercentOfContractValue AllowNumber" autocomplete="off"/>                             </div>                         </div>                         <div class="col-sm-4">                             <div class="form-group ">                                 <label class="col-form-label">Amount<span style="color:red;">*</span></label>                                 <input type="text" name="Amount" placeholder="Amount" class="form-control Amount AllowDecimal" autocomplete="off"/>                             </div>                         </div>                          <div class="col-sm-4">                             <div class="form-group ">                                 <label class="col-form-label">Due Date Of Payment<span style="color:red;">*</span></label>                                 <input type="text" name="DueDateOfPayment" placeholder="Due Date Of Payment" class="form-control DueDateOfPayment datepicker" autocomplete="off"/>                             </div>                         </div>                         <div class="col-sm-4">                             <div class="form-group ">                                 <label>Conditions</label>                                 <input type="text" name="Conditions" placeholder="Conditions" class="form-control Conditions" autocomplete="off"/>                             </div>                         </div>                         <div class="col-sm-4">                             <div class="form-group ">                                 <label>Revised Date Of Payment</label>                                 <input type="text" name="RevisedDateOfpayment" placeholder="Revised Date Of Payment" class="form-control RevisedDateOfPayment datepicker" autocomplete="off"/>                             </div>                         </div>                         <div class="col-sm-4">                             <div class="form-group ">                                 <label>Reason For Slippage</label>                                 <input type="text" name="ReasonsForSlippage" placeholder="Reason For Slippage" class="form-control ReasonForSlippage" autocomplete="off"/>                             </div>                         </div>                         <div class="col-sm-4">                             <div class="form-group ">                                 <label class="col-form-label">Actual Date Of Payment<span style="color:red;">*</span></label>                                 <input type="text" name="ActualDateOfPayment" placeholder="Actual Date Of Payment" class="form-control ActualDateOfPayment datepicker" autocomplete="off"/>                             </div>                         </div>                          <div class="col-sm-4">                             <div class="form-group ">                                 <label class="col-form-label">Total Payment Made<span style="color:red;">*</span></label>                                  <input type="text" name="TotalPaymentMade" placeholder="Total Payment Made (Numeric || ex 2000.40)" class="form-control TotalPaymentMade AllowDecimal" autocomplete="off"/>                              </div>                         </div>     <div class="col-sm-4">                                     <div class="form-group ">                                         <label class="col-form-label">Expenditure Made Till 31th  March@*<span style="color:red;">*</span>*@</label>                                         <input type="text" name="ExpendMadeTill31March" placeholder="Expenditure Made Till 31th  March" class="form-control ExpendMadeTill31March AllowDecimal" autocomplete="off"/>                                                                            </div>                                 </div>                      <div class="col-sm-4">                             <div class="form-group ">                                 <label class="col-form-label">Full or Part Payment Made<span style="color:red;">*</span></label>                                 <select class="form-select form-control FullorPartPaymentMade" name="FullorPartPaymentMade">                                    <option value="Full">Full</option>                                             <option value="Part">Part</option>                              </select>                             </div>                         </div>                          <div class="col-sm-4">                             <button type="button"  class="btn btn-sm btn-success AddNewStage btn-area"><i class="fa fa-plus" aria-hidden="true"></i></button>             <button type="button" class="btn btn-sm btn-danger DeleteStage btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></button>                      </div>                      </div>                 </div>');

        });

        $(document).on("click", '.DeleteStage', function () {

            $(this).parent().parent().parent().remove();

        });

        $(document).on('keydown keypress keyup paste input', '.AllowNumber', function () {
            // allows 123. or .123 which are fine for entering on a MySQL decimal() or float() field
            // if more than one dot is detected then erase (or slice) the string till we detect just one dot
            // this is likely the case of a paste with the right click mouse button and then a paste (probably others too), the other situations are handled with keydown, keypress, keyup, etc

            while (($(this).val().split(".").length - 1) > 1) {

                $(this).val($(this).val().slice(0, -1));

                if (($(this).val().split(".").length - 1) > 1) {
                    continue;
                } else {
                    return false;
                }

            }

            // replace any character that's not a digit or a dot

            $(this).val($(this).val().replace(/[^0-9]/g, ''));

            // now cut the string with the allowed number for the integer and float parts
            // integer part controlled with the int_num_allow variable
            // float (or decimal) part controlled with the float_num_allow variable

            var int_num_allow = 100;
            var float_num_allow = 0;

            var iof = $(this).val().indexOf(".");

            if (iof != -1) {

                // this case is a mouse paste (probably also other events) with more numbers before the dot than is allowed
                // the number can't be "sanitized" because we can't "cut" the integer part, so we just empty the element and optionally change the placeholder attribute to something meaningful
                if ($(this).val().substring(0, iof).length > int_num_allow) {
                    $(this).val('');
                    // you can remove the placeholder modification if you like
                    $(this).attr('placeholder', 'invalid number');
                }

                // cut the decimal part

                $(this).val($(this).val().substring(0, iof + float_num_allow + 1));

            } else {

                $(this).val($(this).val().substring(0, int_num_allow));

            }

            return true;
        });

        $(document).on('keydown keypress keyup paste input', '.AllowDecimal', function () {
            // allows 123. or .123 which are fine for entering on a MySQL decimal() or float() field
            // if more than one dot is detected then erase (or slice) the string till we detect just one dot
            // this is likely the case of a paste with the right click mouse button and then a paste (probably others too), the other situations are handled with keydown, keypress, keyup, etc

            while (($(this).val().split(".").length - 1) > 1) {

                $(this).val($(this).val().slice(0, -1));

                if (($(this).val().split(".").length - 1) > 1) {
                    continue;
                } else {
                    return false;
                }

            }

            // replace any character that's not a digit or a dot

            $(this).val($(this).val().replace(/[^0-9.]/g, ''));

            // now cut the string with the allowed number for the integer and float parts
            // integer part controlled with the int_num_allow variable
            // float (or decimal) part controlled with the float_num_allow variable

            var int_num_allow = 100;
            var float_num_allow = 2;

            var iof = $(this).val().indexOf(".");

            if (iof != -1) {

                // this case is a mouse paste (probably also other events) with more numbers before the dot than is allowed
                // the number can't be "sanitized" because we can't "cut" the integer part, so we just empty the element and optionally change the placeholder attribute to something meaningful
                if ($(this).val().substring(0, iof).length > int_num_allow) {
                    $(this).val('');
                    // you can remove the placeholder modification if you like
                    $(this).attr('placeholder', 'invalid number');
                }

                // cut the decimal part

                $(this).val($(this).val().substring(0, iof + float_num_allow + 1));

            } else {

                $(this).val($(this).val().substring(0, int_num_allow));

            }

            return true;
        });

        $("#btnSaveDetails").click(function () {

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var allvalid = false;

            var btn = $('#btnSaveDetails');
            $(btn).attr("disabled", true);
            var ContractId = $('#ContractId').val();
            var ContractNumber = $('#Contract_Number').val();
            var DateOfContractSigning = $('#DateOfContractSigning').val();
            var Descriptions = $('#Descriptions').val();
            var Category = $('#Category').val();
            var ContractValue = $('#ContractValue').val();
            var FinalDeliveryDate = $('#FinalDeliveryDate').val();


            var Contract = {
                ContractId: $('#ContractId').val(),
                Contract_Number: $('#Contract_Number').val(),
                DateOfContractSigning: $('#DateOfContractSigning').val(),
                Descriptions: $('#Descriptions').val(),
                Category: $('#Category').val(),
                EffectiveDate: $('#EffectiveDate').val(),
                ABGDate: $('#ABGDate').val(),
                PWBGPercentage: $('#PWBGPercentage').val(),
                PWBGDate: $('#PWBGDate').val(),
                Incoterms: $('#Incoterms').val(),
                Warranty: $('#Warranty').val(),
                ContractValue: $('#ContractValue').val(),
                FEContent: $('#FEContent').val(),
                TaxesAndDuties: $('#TaxesAndDuties').val(),
                FinalDeliveryDate: $('#FinalDeliveryDate').val(),
                GracePeriod: $('#GracePeriod').val(),
                Services: $('#Services option:selected').val(),
            };

            var stagesdata = [];
            $('.table-body .Stage').each(function () {
                var stage = {};
                if ($(this).children().find('.StageNumber').val() != "") {
                    stage["StageNumber"] = parseInt($(this).children().find('.StageNumber').val());
                    allvalid = true;
                }
                else {
                    toastr.error("Enter Stage Number");
                    allvalid = false;
                    $(btn).attr("disabled", false);
                }

                stage["stageDescription"] = $(this).children().find('.StageDescription').val();
                stage["StageStartdate"] = $(this).children().find('.StageStartDate').val();
                stage["StageCompletionDate"] = $(this).children().find('.StageCompletionDate').val();
                if ($(this).children().find('.PercentOfContractValue').val() != "") {
                    stage["PercentOfContractValue"] = parseInt($(this).children().find('.PercentOfContractValue').val());
                    allvalid = true;
                }
                else {
                    toastr.error("Enter Contrct value");
                    allvalid = false;
                    $(btn).attr("disabled", false);
                }
                if ($(this).children().find('.Amount').val() != "") {
                    stage["Amount"] = $(this).children().find('.Amount').val();
                    allvalid = true;
                }
                else {
                    toastr.error("Enter Amount");
                    allvalid = false;
                    $(btn).attr("disabled", false);
                }
                if ($(this).children().find('.DueDateOfPayment').val() != "") {
                    stage["DueDateOfPayment"] = $(this).children().find('.DueDateOfPayment').val();
                    allvalid = true;
                }
                else {
                    toastr.error("Enter Due Date of Payment");
                    allvalid = false;
                    $(btn).attr("disabled", false);
                }
                stage["Conditions"] = $(this).children().find('.Conditions').val();
                stage["RevisedDateOfpayment"] = $(this).children().find('.RevisedDateOfPayment').val();
                stage["ReasonsForSlippage"] = $(this).children().find('.ReasonForSlippage').val();
                if ($(this).children().find('.ActualDateOfPayment').val() != "") {
                    stage["ActualDateOfPayment"] = $(this).children().find('.ActualDateOfPayment').val();
                    allvalid = true;
                }
                else {
                    toastr.error("Enter Actual Date of Payment");
                    allvalid = false;
                    $(btn).attr("disabled", false);
                }
                if ($(this).children().find('.TotalPaymentMade').val() !="") {
                    stage["TotalPaymentMade"] = $(this).children().find('.TotalPaymentMade').val();
                    allvalid = true;
                }
                else {
                    toastr.error("Enter Total Payment Made");
                    allvalid = false;
                    $(btn).attr("disabled", false);

                }
                stage["FullorPartPaymentMade"] = $(this).children().find('.FullorPartPaymentMade option:selected').val();
                stage["ExpendMadeTill31March"] = $(this).children().find('.ExpendMadeTill31March').val();

                stagesdata.push(stage);
            });


            var data = {
                "Contrct_Detail": Contract,
                "Stage_Detail": stagesdata
            }


            if (ContractId != "" && ContractNumber != "" && DateOfContractSigning != "" && Descriptions != "" && Category != "" && ContractValue != "" && FinalDeliveryDate != "" && allvalid == true) {
                $.ajax({
                    beforeSend: function () {
                        $('.preloader').show();
                    },
                    type: "POST",
                    url: "/SaveContract",
                    data: { __RequestVerificationToken: token, cnt: data },
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $('.preloader').hide();
                        $(btn).attr("disabled", false);
                        if (response > 0) {
                            toastr.success("form has been saved");
                            window.location.reload();
                        }
                        else {
                            window.location.reload();
                        }
                    },
                    failure: function (response) {
                        $('.preloader').hide();
                        $(btn).attr("disabled", false);
                        toastr.error(response.responseText);
                    },
                    error: function (response) {
                        $('.preloader').hide();
                        $(btn).attr("disabled", false);
                        toastr.error(response.responseText);
                    }
                });
            }
            else {
                $(btn).attr("disabled", false);
                if (ContractId == "") {
                    $('#vldContractId').css({ "display": "block" });
                    toastr.error("Enter Contrct Id");
                    return false;
                }
                else if (ContractNumber == "") {
                    $('#vldContract_Number').css({ "display": "block" });
                    toastr.error("Enter Contrct Number");
                    return false;
                }
                else if (DateOfContractSigning == "") {
                    $('#vldDateOfContractSigning').css({ "display": "block" });
                    toastr.error("Enter Date of Contract Signing");
                    return false;
                }
                else if (Descriptions == "") {
                    $('#vldDescriptions').css({ "display": "block" });
                    toastr.error("Enter Contract Description");
                    return false;
                }
                else if (Category == "") {
                    $('#vldCategory').css({ "display": "block" });
                    toastr.error("Enter Contract Category");
                    return false;
                }
                else if (ContractValue == "") {
                    $('#vldContractValue').css({ "display": "block" });
                    toastr.error("Enter Contract value");
                    return false;
                }
                else if (FinalDeliveryDate == "") {
                    $('#vldFinalDeliveryDate').css({ "display": "block" });
                    toastr.error("Enter Contract Final delivery date");
                    return false;
                }
                else {
                    toastr.error("Please check and fill all the mandatory fields marked with * ");
                    return false;
                }

            }



        });


    });
</script>