@model ACQ.Web.ViewModel.AONW.SAVESOCVIEWMODEL
@{
    ViewBag.Title = "createMeeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("WAonCreate", "AONW", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row m-0">
        <div class="mt-3 bg-white box-properties">
            <div class="tabHead mb-3">
                <div class="row">
                    <div class="col-md-6"><h3>Create SOC</h3></div>
                    <div class="col-md-6"><a href="@Url.Action("ViewSOCRegistration","AoNW")" class="btn btn-primary float-right  " type="button"><i class="fas fa-plus-square mr-1"></i>View SOC Registration</a></div>
                </div>
            </div>


            <div class="px-3 py-4 p-sm-4">
                <form class="needs-validation p-2" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="">SOC Name</label>
                                @Html.TextAreaFor(x => x.item_description, new { @class = "form-control", @placeholder = "Item", @maxlength = "2000" })
                                @*@Html.ValidationMessageFor(x => x.item_description, null, new { @class = "danger" })*@
                                @*<input class="form-control" type="text" required="" id="" placeholder="Name">*@
                                <div class="invalid-feedback" style="display:none">Please Enter your Name</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">SOC Date</label>
                                @*<input type="date" id="defaultRegisterFormFirstName" name="SoDate" class="form-control" placeholder="Date of SOC">*@
                                <input type="text" id="datepicker" name="SoDate" class="form-control" placeholder="Date of SOC">
                                @*@Html.ValidationMessageFor(x => x.SoDate, null, new { @class = "danger" })*@
                                @*<input class="form-control" type="date" required="" id="recovery-email">*@
                                <div class="invalid-feedback">Please Enter Valid Date</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">DAC/DPB Meeting</label>
                                @Html.DropDownListFor(model => model.AoN_Accorded_By, new List<SelectListItem>
                                 {
                                  new SelectListItem{ Text="DPB", Value = "DPB" },
                                  new SelectListItem{ Text="DAC", Value = "DAC" }
                                 }, "-Select DAC/DPB-", new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(x => x.AoN_Accorded_By, null, new { @class = "danger" })*@
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback">Please Enter Valid Date</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="">Quantity</label>
                                @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", @placeholder = "Quantity", @maxlength = "32" })
                                @Html.ValidationMessageFor(x => x.Quantity, null, new { @class = "danger" })
                                @*<input class="form-control" type="text" required="" id="" placeholder="Quantity">*@
                                <div class="invalid-feedback" style="display:none">Please Enter your Name</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="">Cost</label>
                                @Html.TextBoxFor(x => x.Cost, new { @class = "form-control", @placeholder = "Cost", @maxlength = "32" })
                                @Html.ValidationMessageFor(x => x.Cost, null, new { @class = "danger" })
                                @*<input class="form-control" type="text" required="" id="" placeholder="Cost">*@
                                <div class="invalid-feedback" style="display:none">Please Enter your Name</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Tax &amp; Duties</label>
                                @Html.DropDownListFor(model => model.Tax_Duties, new List<SelectListItem>
                                 {
                                  new SelectListItem{ Text="Inclusive Tax & Duties", Value = "Inclusive Tax & Duties" },
                                  new SelectListItem{ Text="Exclusive Tax & Duties", Value = "Exclusive Tax & Duties" },
                                 }, "-Select Tax-", new { @class = "form-control", @maxlength = "50" })
                                @Html.ValidationMessageFor(x => x.Service_Lead_Service, null, new { @class = "danger" })
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select Tax--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Service</label>
                                @Html.DropDownListFor(model => model.Service_Lead_Service, new List<SelectListItem>
                                 {
                                  new SelectListItem{ Text="Army", Value = "Army" },
                                  new SelectListItem{ Text="Navy", Value = "Navy" },
                                  new SelectListItem{ Text="AirForce", Value = "AirForce" },
                                  new SelectListItem{ Text="ICG", Value = "ICG" },
                                  new SelectListItem{ Text="Joint", Value = "Joint" },
                                 }, "-Select Services-", new { @class = "form-control", @maxlength = "50" })
                                @Html.ValidationMessageFor(x => x.Service_Lead_Service, null, new { @class = "danger" })
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select Services--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Nature</label>
                                @Html.DropDownListFor(model => model.Type_of_Acquisition, new List<SelectListItem>
                                  {
                                    new SelectListItem{ Text="Initial", Value = "Initial" },
                                    new SelectListItem{ Text="Repeat", Value = "Repeat" },
                                    new SelectListItem{ Text="Option", Value = "Option" },
                                    new SelectListItem{ Text="Indent", Value = "Indent" },
                                    new SelectListItem{ Text="D&D", Value = "D&D" },
                                  }, "-Select-", new { @class = "form-control", @maxlength = "32" })
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Categorization</label>
                                @Html.DropDownListFor(model => model.Categorisation, new List<SelectListItem>
                                     {
                                       new SelectListItem{ Text="Buy(Indian-IDDM)", Value = "Buy(Indian-IDDM)" },
                                       new SelectListItem{ Text="Buy(Indian)", Value = "Buy(Indian)" },
                                       new SelectListItem{ Text="Buy and Make(Indian)", Value = "Buy and Make(Indian)" },
                                       new SelectListItem{ Text="Buy and Make", Value = "Buy and Make" },
                                       new SelectListItem{ Text="Buy(Global-Manufacture in India)", Value = "Buy(Global-Manufacture in India)" },
                                       new SelectListItem{ Text="Buy(Global-Manufacture in India)-IGA", Value = "Buy(Global-Manufacture in India)-IGA" },
                                       new SelectListItem{ Text="Buy(Global)", Value = "Buy(Global)" },
                                       new SelectListItem{ Text="Buy(Global)-IGA", Value = "Buy(Global)-IGA" },
                                     }, "-Select Categorization-", new { @class = "form-control", @maxlength = "32" })
                                @*@Html.ValidationMessageFor(x => x.Categorisation, null, new { @class = "danger" })*@
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">IC Percentage</label>
                                @Html.TextBoxFor(x => x.IC_percentage, new { @class = "form-control", @placeholder = "IC Percentage", @maxlength = "32" })
                                @Html.ValidationMessageFor(x => x.IC_percentage, null, new { @class = "danger" })
                                @*<input class="form-control" type="text" required="" id="" placeholder="IC percentage">*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Trial Required</label>
                                @Html.DropDownListFor(model => model.Trials_Required, new List<SelectListItem>
                                {
                                   new SelectListItem{ Text="Y", Value = "Y" },
                                   new SelectListItem{ Text="N", Value = "N" },
                                }, "--Select--", new { @class = "form-control" })
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Option Clause Applicable</label>
                                @Html.DropDownListFor(model => model.Option_clause_applicable, new List<SelectListItem>
                  {
                     new SelectListItem{ Text="Y", Value = "Y" },
                     new SelectListItem{ Text="N", Value = "N" },
                  }, "--Select--", new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(x => x.item_description, null, new { @class = "danger" })*@
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Offset Applicable</label>
                                @Html.DropDownListFor(model => model.Offset_applicable, new List<SelectListItem>
                                {
                                   new SelectListItem{ Text="Y", Value = "Y" },
                                   new SelectListItem{ Text="N", Value = "N" },
                                }, "--Select--", new { @class = "form-control" })
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">AMC Applicable</label>
                                @Html.DropDownListFor(model => model.AMC_applicable, new List<SelectListItem>
                                {
                                   new SelectListItem{ Text="Y", Value = "Y" },
                                   new SelectListItem{ Text="N", Value = "N" },
                                }, "--Select--", new { @class = "form-control" })
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">AMC Remarks</label>
                                @Html.TextBoxFor(x => x.AMCRemarks, new { @class = "form-control", @placeholder = "AMC Remarks", @maxlength = "500" })
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="">Warrenty Applicable</label>
                                @Html.DropDownListFor(model => model.Warrenty_applicable, new List<SelectListItem>
                                 {
                                    new SelectListItem{ Text="Y", Value = "Y" },
                                    new SelectListItem{ Text="N", Value = "N" },
                                 }, "--Select--", new { @class = "form-control" })
                                @*<input class="form-control" type="text" required="" id="" placeholder="Warrenty Applicable">*@
                                <div class="invalid-feedback" style="display:none">Please Enter your Name</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="">Warrenty Remarks</label>
                                @Html.TextBoxFor(x => x.Warrenty_Remarks, new { @class = "form-control", @placeholder = "AMC Remarks", @maxlength = "500" })
                                @*<input class="form-control" type="text" required="" id="" placeholder="Warrenty Remarks">*@
                                <div class="invalid-feedback" style="display:none">Please Enter your Name</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="">AON Validity (Only Numbers)</label>
                                @Html.TextBoxFor(x => x.AoN_validity, new { @class = "form-control only-numeric", @placeholder = "AON Validity (only numbers)" })
                                @*<input class="form-control" type="text" required="" id="" placeholder="AON Validity (Only Numbers)">*@
                                <span class="error" style="color: red; display: none">* Input digits (0 - 9)</span>
                                <div class="invalid-feedback" style="display:none">Please Enter your Name</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">AON Validity Unit</label>
                                @Html.DropDownListFor(model => model.AoN_validity_unit, new List<SelectListItem>
                                  {
                                     new SelectListItem{ Text="Month", Value = "Month" },
                                     new SelectListItem{ Text="Year", Value = "Year" },
                                  }, "--Select--", new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(x => x.item_description, null, new { @class = "danger" })*@
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">DPP/DAP</label>
                                @Html.DropDownListFor(model => model.DPP_DAP, new List<SelectListItem>
                                 {
                                    new SelectListItem{ Text="DPP-2016", Value = "DPP-2016" },
                                    new SelectListItem{ Text="DAP-2020", Value = "DAP-2020" },
                                 }, "--Select--", new { @class = "form-control" })
                                @*<select class="form-select form-control" id="autoSizingSelect">
                                        <option selected="">--Select--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>*@
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Essential Parameters</label>
                                <div class="form-floating">
                                    @Html.TextAreaFor(x => x.Essential_parameters, new { @class = "form-control", @placeholder = "Essential Parameter", @maxlength = "5000" })
                                    @Html.ValidationMessageFor(x => x.Essential_parameters, null, new { @class = "danger" })
                                    @*<textarea class="form-control" placeholder="Essential Parameters" id="floatingTextarea2"></textarea>*@

                                </div>
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Any Other Aspect</label>
                                <div class="form-floating">
                                    @Html.TextAreaFor(x => x.Any_other_aspect, new { @class = "form-control", @placeholder = "Any Other Aspect", @maxlength = "5000" })
                                    @*@Html.ValidationMessageFor(x => x.Any_other_aspect, null, new { @class = "danger" })*@
                                    @*<textarea class="form-control" placeholder="Any Other Aspect" id="floatingTextarea2"></textarea>*@

                                </div>
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Remarks</label>
                                <div class="form-floating">
                                    @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control", @placeholder = "Remarks", @maxlength = "2000" })
                                    @*@Html.ValidationMessageFor(x => x.IC_percentage, null, new { @class = "danger" })*@
                                    @*<textarea class="form-control" placeholder="Essential Parameters" id="floatingTextarea2"></textarea>*@

                                </div>
                                <div class="invalid-feedback" style="display:none">Please Enter Valid Date</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="recovery-email">Upload SoC *</label>
                                @*<label class="form-label" for="recovery-email">Item File (.PDF/.DOc/.PPT only)</label>*@
                                <div class="form-floating">
                                    <label class="labeltext font-weight-bold mb-0">(Upload only <b> (.pdf)</b> file)</label>
                                    <input type="file" name="file" class="form-control-file form-control" id="SOC_Files2" />
                                </div>
                                <span class="errorSOC_Files2" style="color: red; display: none">*Allowed only Pdf file</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <label class="form-label" for="recovery-email">Upload SoC Annexure</label>

                                @*<label class="form-label" for="recovery-email">Item File (.PDF/.DOc/.PPT only)</label>*@

                                <div class="form-floating">
                                    <label class="labeltext font-weight-bold mb-0">(Upload only <b> (.pdf)</b> file)</label>
                                    <input type="file" name="SOC_Files3" class="form-control-file form-control" id="SOC_Files3" />
                                </div>
                                <span class="errorSOC_Files3" style="color: red; display: none">*Allowed only Pdf file</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=" " class="col-sm-3 col-form-label">Upload SoC PPT</label>
                                <div class="form-floating">
                                    <label class="labeltext font-weight-bold mb-0">(Upload only <b> (.ppt)</b> file)</label>
                                    <input type="file" name="SOC_Files4" class="form-control-file form-control" id="SOC_Files4" />
                                </div>
                                <span class="errorSOC_Files4" style="color: red; display: none">*Allowed only PPT file</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for=" " class="col-sm-3 col-form-label">Upload Other Doucment</label>
                                <div class="form-floating">
                                    <label class="labeltext font-weight-bold mb-0">(Upload only <b> (.pdf)</b> file)</label>
                                    <input type="file" name="SOC_Files5" class="form-control-file form-control" id="SOC_Files5" />
                                </div>
                                <span class="errorSOC_Files5" style="color: red; display: none">*Allowed only PDF file</span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button class="btn btn-primary float-right" type="submit">SOC Register</button>
                            @*<button class="btn btn-primary float-right" type="submit">SOC Register</button>*@
                        </div>
                    </div>
                    @*<div class="modal fade show" id="Message" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="z-index:1200!important;">
                                <div class="modal-content">
                                    <div class="modal-body tab-content py-4">
                                        <h6 class="alert alert-success">Record Successfully Saved </h6>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="@Url.Action("Index","AoNW")" class="btn btn-primary" data-dismiss="modal" id="r">OK</a>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Alert</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-12">
                                        <div id="myTabContent">
                                            <div class="tab-pane show" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                <div class="row register-form">
                                                    <div class="col-md-12 ">
                                                        <div id="lblmsg"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div><br>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

}
@*@section scripts {*@
@if (!string.IsNullOrEmpty(Model.ErrorMsg))
{
    <script type="text/javascript">$("#Message").modal("show");</script>
}
else
{
    <script type="text/javascript">$("#Message").modal("hide");</script>
}
@*}*@
<script type="text/javascript">
    $(document).ready(function () {
        $(".only-numeric").bind("keypress", function (e) {
            var keyCode = e.which ? e.which : e.keyCode
            if (!(keyCode >= 48 && keyCode <= 57)) {
                $(".error").css("display", "inline");
                return false;
            } else {
                $(".error").css("display", "none");
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#SOC_Files2').change(function () {
            var ValidFileExtension = ['pdf', 'PDF'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), ValidFileExtension) == -1) {
                $(".errorSOC_Files2").css("display", "inline");
                SOC_Files2.value = '';
                return false;
            }
            return true;
        })
        $('#SOC_Files3').change(function () {
            var ValidFileExtension = ['pdf', 'PDF'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), ValidFileExtension) == -1) {
                $(".errorSOC_Files3").css("display", "inline");
                SOC_Files3.value = '';
                return false;
            }
            return true;
        })
        $('#SOC_Files4').change(function () {
            var ValidFileExtension = ['ppt', 'PPT'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), ValidFileExtension) == -1) {
                $(".errorSOC_Files4").css("display", "inline");
                SOC_Files4.value = '';
                return false;
            }
            return true;
        })
        $('#SOC_Files5').change(function () {
            var ValidFileExtension = ['pdf', 'PDF'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), ValidFileExtension) == -1) {
                $(".errorSOC_Files5").css("display", "inline");
                SOC_Files5.value = '';
                return false;
            }
            return true;
        })
    });
</script>
<script>
    $(document).ready(function () {
        if ('@ViewBag.Save' === "SOC Registration Successfully") {
            $('#lblmsg').html('SOC Registration Successfully');
            $('#myModal').modal({
                display: 'show',
                backdrop: 'static',
                keyboard: false
            });
        }

        if ('@ViewBag.NotSave' === "SOC registration not saved") {
            $('#lblmsg').html('SOC registration not saved');
            $('#myModal').modal({
                display: 'show',
                backdrop: 'static',
                keyboard: false
            });
        }
       if ('@ViewBag.NotSave' === "Can not empty SOC fields") {
            $('#lblmsg').html('Can not empty SOC fields');
            $('#myModal').modal({
                display: 'show',
                backdrop: 'static',
                keyboard: false
            });
        }
        if ('@ViewBag.UploadStatus' === "Can not be empty SoC meta data") {
            $('#lblmsg').html('Can not be empty SoC meta data');
            $('#myModal').modal({
                display: 'show',
                backdrop: 'static',
                keyboard: false
            });
        }
        if ('@ViewBag.UploadStatus' === "Can not be empty SoC File") {
            $('#lblmsg').html('Can not be empty SoC File');
            $('#myModal').modal({
                display: 'show',
                backdrop: 'static',
                keyboard: false
            });
        }
    });


</script>
<script>
    $(function () {
        $("#datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>