@model ACQ.Web.ViewModel.AONW.acqmstmemberSendMailViewModel

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Alert</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div id="myTabContent">
                    <div class="tab-pane show" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row register-form">
                            <div class="col-md-12 ">
                                <label>@TempData["msg"]</label>
                                @if (Model != null && Model.SOCMailVIEW.Count() > 0)
                                {
                                    <div class="row">
                                        <div class="col col-12">
                                            <div id="div1" class="portlet-body flip-scroll" style="overflow: scroll; height: 850px; Width: 100%;">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">SNO.</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Meeting Type</th>
                                                            <th scope="col">Designation</th>
                                                            <th scope="col">EmailId</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{ int count = 1;}
                                                        @foreach (var SOC in Model.SOCMailVIEW)
                                                        {
                                                            <tr>
                                                                <th scope="row">@count</th>
                                                                <td class="text-wrap">@SOC.meeting_type</td>
                                                                <td>Version @SOC.member_type</td>
                                                                <td>@SOC.designation</td>
                                                                <td>@SOC.Email</td>

                                                            </tr>
                                                            count++;
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div><br>
        <div class="modal-footer">

            <button type="button" id="btnclose" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {
        $('#btnclose').click(function () {
        var link = '@Url.Action("SendMailToAll", "AONW")';
        window.location.href = link;
    });
    })


</script>
